[defaults]
inventory = ./hosts
[ssh_connection]
ssh_args = -F /Users/matthewlatimer/.ssh/config -o ControlMaster=auto -o ControlPersist=30m -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no -o ForwardAgent=yes
control_path = ~/.ansible/cp/ansible-%%r@%%h:%%p